.feed {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory; /* make each post snap to scroll */
    max-width: 425px;
    margin: auto;
}
.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    color : white;
}